@font-face{
  font-family: "Din";
  src: url(din-light-webfont.ttf) format("truetype");
}

.center{
  text-align: center;
}

.fira{ font-family: 'Fira Sans Extra Condensed', sans-serif; }
.overpass{ font-family: 'Overpass', sans-serif; }
.din{ font-family: 'Din', sans-serif; }

.image-area{
  width: 65%;
  background-color: #000;
  margin: 0 auto;
  text-align: center;
}

@media only screen and (min-width:320px)  { .image-area{ height: 200px; width: 90%; font-size: 60%; } }
@media only screen and (min-width:480px)  { .image-area{ height: 200px; width: 90%; font-size: 60%; } }
@media only screen and (min-width:1281px) { .image-area{ height: 500px; font-size: 100%;} }

.image-area .side{
  width: 45%;
  height: 100%;
  background-color: #000;
  opacity: 0.8;
}


.main-text{
  padding: 25% 20px 15px;
  font-size: 1.7em;
  letter-spacing: 1px;
  line-height: 1.4em;
  color: #fff;
  display: none;
}

.name-text{
  padding-top: 20px;
  color: #f29245;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bold;
}

.title-text{
  padding-top: 2px;
  color: #f29245;
  font-size: 0.7em;
}

#download{
  display: none;
  margin-top: 20px;
  text-align: center;
}

.main-position{
  vertical-align: middle;
  text-align:center;
  margin-top: 20px;
}
.main-position input{ vertical-align: middle; margin: 0; }